@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color:#b89944;
    --off-white:#F3F4F6;
    --secondary: #211D1A;
}

*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1447015237013-0e80b2786ddc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
}

.nav{
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem 1rem;
    color: var(--secondary);
}

.heading{
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.serif{
    font-family: 'Playfair Display', serif;
}

main{
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.input .input-text{
    width: 100%;
    min-height: 20vh;
    resize: none;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
}

.input-text::placeholder{
    font-size: 1.2rem;
}

.btn-translate{
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
}

.output{
    background-color: var(--off-white);
    margin-top: 2rem;
    padding: 1rem;
}

.output-board{
    width: 100%;
    min-height: 20vh;
    background-color: #fff;
    margin-top: 1rem;
    border: 1px solid #6B7280;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 2.3rem;
    color: var(--secondary);
}